-var project_default = project[0][0], project_file = project[2]
div.wrapper.wrapper-content.project-manager    
    h4 프로젝트 설명
    div.hr-line-dashed  
    h5 내용
    p !{project_default["상세내용"].replace(/\r?\n/g, '<br />')}
    div.hr-line-dashed   
    h5 기대효과
    p !{project_default["기대효과"].replace(/\r?\n/g, '<br />')}
    div.hr-line-dashed
    h5 프로젝트 파일
    - if(project_file.length)
        ul.list-unstyled.project-files            
            - project_file.forEach(function(file){
            -   var extension = file['파일명'].split('.');
            -       extension = extension[extension.length-1];
            -   var url = '/project/' + project_default['프로젝트ID'] + '/' + file['파일명'];
                li
                    a.btn.btn-link.btn-xs(href='#{url}')
                        -   if(extension.toLowerCase().match(/jpg|jpeg|png|bmp|gif/))
                                    i.fa.fa-picture-o
                        -   else
                                    i.fa.fa-file
                        |  #{file["파일명"]}
            - })        
  