div.row.wrapper.border-bottom.white-bg.page-heading
    div.col-lg-12
      h2 프로젝트 상세보기
        span.pull-right
          a.btn.btn-link(href='/project'): i.fa.fa-reply  목록으로
div.row
  div.col-lg-9.no-padding
    include ./detail_status.jade
  div.col-lg-3
    include ./detail_content.jade
    
  

  