div.wrapper.wrapper-content.project-manager    
    h4 프로젝트 설명
    div.hr-line-dashed  
    h5 내용
    p.
        프로젝트의 상세내용이 요약해서 들어갈꺼야,
        새로 온라인 사내전산을 만들고 있는 이 홈페이지도 프로젝트에 해당하지 
        일단 레이아웃만 먼저 짜고, 1월부턴 기능 구현을 할꺼야  아 그전에 먼저 설계도를 충분히 짜고 해야지
    h5 기대효과
    p.
        프로젝트의 상세내용이 요약해서 들어갈꺼야,
        새로 온라인 사내전산을 만들고 있는 이 홈페이지도 프로젝트에 해당하지 
        일단 레이아웃만 먼저 짜고, 1월부턴 기능 구현을 할꺼야  아 그전에 먼저 설계도를 충분히 짜고 해야지
    h5 프로젝트 파일
    ul.list-unstyled.project-files
        li
        a(href='#')
            i.fa.fa-file
            |  요청서.docx
        li
        a(href='#')
            i.fa.fa-file-picture-o
            |  레이아웃.png
    div.m-t-md
        a.btn.btn-primary.btn-xs 파일 업로드

  