div.row.wrapper.border-bottom.white-bg.page-heading(style='padding-bottom:0;')
    div.col-lg-12
      form.form-inline(role='form').p-xs
        div.form-group
          div.input-group
            span.input-group-btn
              select.selectpicker(title='프로그램')
                option 전체
                option 공통              
                option SenseChart
                option MediChart
                option Eplus
            input.input.form-control#search-keyword(type='search', placeholder="프로젝트 검색")            
        div.form-group.m-b-none
          div.input-group
            a.btn.btn-warning(href='/project/new') 프로젝트 등록
div.wrapper.wrapper-content.animated.fadeInRight.blog
  
  div.row
    div.col-lg-12.no-padding
      div.row#project-list      
        div.col-lg-4.col-md-6
          div.ibox
            div.ibox-title
              h5 (PROJECT ID) 프로젝트 제목
              div.ibox-tools
                a.btn.btn-xs.btn-primary(style='color:#FFF;', href='/project/detail') 상세보기
            div.ibox-content
              small.pull-right.text-muted 마지막 수정일자 : 2016-12-12
              div.team-members
                button.btn.btn-info.btn-outline.btn-xs 서재민
                button.btn.btn-info.btn-outline.btn-xs 박희빈
                button.btn.btn-info.btn-outline.btn-xs 박정수
              p.
                프로젝트의 상세내용이 요약해서 들어갈꺼야,
                새로 온라인 사내전산을 만들고 있는 이 홈페이지도 프로젝트에 해당하지 
                일단 레이아웃만 먼저 짜고, 1월부턴 기능 구현을 할꺼야  아 그전에 먼저 설계도를 충분히 짜고 해야지
              div
                span 프로젝트 진행 상태
                div.stat-percent 진행중
                div.progress.progress-mini
                  div.progress-bar(style="width: 50%;")
              div.row.m-t-sm
                div.col-sm-3.col-xs-6
                  div.font-bold 프로그램
                  small 공통
                div.col-sm-3.col-xs-6
                  div.font-bold 등록일자
                  small 2016-12-01
                div.col-sm-3.col-xs-6
                  div.font-bold 작업기간
                  small 1개월
                div.col-sm-3.col-xs-6
                  div.font-bold 
                    i.fa.fa-thumbs-up.text-success 120                    
                
        div.col-lg-4.col-md-6
          div.ibox
            div.ibox-title
              h5 프로젝트 제목
              div.ibox-tools
                a.btn.btn-xs.btn-primary(style='color:#FFF;') 상세보기
            div.ibox-content
              small.pull-right.text-muted 마지막 수정일자 : 2016-12-12
              div.team-members
                button.btn.btn-info.btn-outline.btn-xs 서재민
                button.btn.btn-info.btn-outline.btn-xs 박희빈
                button.btn.btn-info.btn-outline.btn-xs 박정수
              p.
                프로젝트의 상세내용이 요약해서 들어갈꺼야,
                새로 온라인 사내전산을 만들고 있는 이 홈페이지도 프로젝트에 해당하지 
                일단 레이아웃만 먼저 짜고, 1월부턴 기능 구현을 할꺼야  아 그전에 먼저 설계도를 충분히 짜고 해야지
              div
                span 프로젝트 진행 상태
                div.stat-percent 진행중
                div.progress.progress-mini
                  div.progress-bar(style="width: 50%;")
              div.row.m-t-sm
                div.col-sm-3.col-xs-6
                  div.font-bold 프로그램
                  small 공통
                div.col-sm-3.col-xs-6
                  div.font-bold 등록일자
                  small 2016-12-01
                div.col-sm-3.col-xs-6
                  div.font-bold 작업기간
                  small 1개월
                div.col-sm-3.col-xs-6
                  div.font-bold 
                    i.fa.fa-thumbs-up.text-success 120
              
        div.col-lg-4.col-md-6
          div.ibox
            div.ibox-title
              h5 프로젝트 제목
              div.ibox-tools
                a.btn.btn-xs.btn-primary(style='color:#FFF;') 상세보기
            div.ibox-content
              small.pull-right.text-muted 마지막 수정일자 : 2016-12-12
              div.team-members
                button.btn.btn-info.btn-outline.btn-xs 서재민
                button.btn.btn-info.btn-outline.btn-xs 박희빈
                button.btn.btn-info.btn-outline.btn-xs 박정수
                button.btn.btn-info.btn-outline.btn-xs 서재민
                button.btn.btn-info.btn-outline.btn-xs 박희빈
                button.btn.btn-info.btn-outline.btn-xs 박정수
              p.
                프로젝트의 상세내용이 요약해서 들어갈꺼야,
                새로 온라인 사내전산을 만들고 있는 이 홈페이지도 프로젝트에 해당하지 
                일단 레이아웃만 먼저 짜고, 1월부턴 기능 구현을 할꺼야  아 그전에 먼저 설계도를 충분히 짜고 해야지
              div
                span 프로젝트 진행 상태
                div.stat-percent 진행중
                div.progress.progress-mini
                  div.progress-bar(style="width: 50%;")
              div.row.m-t-sm
                div.col-sm-3.col-xs-6
                  div.font-bold 프로그램
                  small 공통
                div.col-sm-3.col-xs-6
                  div.font-bold 등록일자
                  small 2016-12-01
                div.col-sm-3.col-xs-6
                  div.font-bold 작업기간
                  small 1개월
                div.col-sm-3.col-xs-6
                  div.font-bold 
                    i.fa.fa-thumbs-up.text-success 120  
                  
      
        div.col-lg-4.col-md-6
          div.ibox
            div.ibox-title
              h5 (PROJECT ID) 프로젝트 제목
              div.ibox-tools
                a.btn.btn-xs.btn-primary(style='color:#FFF;', href='/projects/projectid') 상세보기
            div.ibox-content
              small.pull-right.text-muted 마지막 수정일자 : 2016-12-12
              div.team-members
                button.btn.btn-info.btn-outline.btn-xs 서재민
                button.btn.btn-info.btn-outline.btn-xs 박희빈
                button.btn.btn-info.btn-outline.btn-xs 박정수
              p.
                프로젝트의 상세내용이 요약해서 들어갈꺼야,
                새로 온라인 사내전산을 만들고 있는 이 홈페이지도 프로젝트에 해당하지 
                일단 레이아웃만 먼저 짜고, 1월부턴 기능 구현을 할꺼야  아 그전에 먼저 설계도를 충분히 짜고 해야지
              div
                span 프로젝트 진행 상태
                div.stat-percent 진행중
                div.progress.progress-mini
                  div.progress-bar(style="width: 50%;")
              div.row.m-t-sm
                div.col-xs-4
                  div.font-bold 프로그램
                  small 공통
                div.col-xs-4
                  div.font-bold 등록일자
                  small 2016-12-01
                div.col-xs-4
                  div.font-bold 작업기간
                  small 1개월
                