div.panel-body.gray-bg
  div.container-fluid
    h1 A/S 전체현황 ( 데이터뷰 )
    
    div.media-body
      div.form-group.form-inline
        
      
        div.input-group.date
          span.input-group-addon
            i.fa.fa-calendar
          input.form-control.disabled#startDate(type='text')    
      
        div.input-group.date
          span.input-group-addon
            i.fa.fa-calendar
          input.form-control.disabled#endDate(type='text')   
        
        button.btn.btn-success 검색 
  
      
    table.table.table-responsive#data-table
      thead 
        tr
          th 응급
          th 기관코드
          th 기관명칭
          th 담당지사
          th 처리상태
          th 접수자
          th 확인자
          th 인계자
          th 처리자
          th 내용
      tbody
          
