block scripts
  script.
    (function(){
      var version = checkBrowser();
      location.href='./clients/index?ver=' + version;
      
    })();
    function checkBrowser() {
        var word;
        var version = "N/A";

        var agent = navigator.userAgent.toLowerCase();
        var name = navigator.appName;

        // IE old version ( IE 10 or Lower )
        if (name == "Microsoft Internet Explorer") word = "msie ";

        else {
            // IE 11
            if (agent.search("trident") > -1) word = "trident/.*rv:";

            // Microsoft Edge
            else if (agent.search("edge/") > -1) word = "edge/";
        }

        var reg = new RegExp(word + "([0-9]{1,})(\\.{0,}[0-9]{0,1})");

        if (reg.exec(agent) !== null) version = RegExp.$1 + RegExp.$2;

        var verNumber = parseInt(version, 10);

        return verNumber;
    }
