extends ../layout_client

block content  
  div#wrapper.animated.fadeInDown 
    div      
      div.row
        div.col-xs-12
          form(role='form',method='post',action='/clients/require', enctype='multipart/form-data')                 
            div.ibox.m-b-none#client-detail
              div.ibox-title
                h5 AS 예약 접수   
                //- div.ibox-tools
                //-   button.btn.btn-warning.btn-xs.btn-outline#client-history 접수내역
                //-   button.btn.btn-warning.btn-xs.btn-outline#client-help 도움말
              div.ibox-content
                p 불편사항을 미리적어주시면 빠르게 도움을 드릴 수 있습니다.
                p 아래의 접수자 정보를 확인하시고 예약하기 버튼을 클릭해주세요.                               
                div.form-group
                  //label 이름
                  input.form-control(type='text',id='client_name',name='client_name',placeholder='이름',value='서재민')
                div.form-group
                  //label 연락처
                  //- input.form-control(type='text',id='client_contact',name='client_contact',placeholder="연락처 ('-'은 생략하고 입력해주세요.)")
                  div.input-group
                    span.input-group-addon 연락처
                    input.form-control.input.input-block.block(type='text',id='client_contact',name='client_contact',value='01034304020')
                    span.input-group-addon(style='border-left:0;border-right:0;') 내선번호
                    input.form-control.input.input-block.block(type='text',id='client_contact2',name='client_contact2')
                
                textarea.summernote(id='comment',name='comment')              
              
                div.col-xs-6
                  label.btn.btn-primary.btn-block.full-width.m-b(title='사진첨부', for='uploadimage')
                    input.hide(type='file',accept='image/*' name='uploadimage', id='uploadimage')
                    span.small 사진첨부
                div.col-xs-6                             
                  button.btn.btn-primary.btn-block.full-width.m-b(type='button', id='capture') 캡쳐
                button.btn.btn-success.block.full-width.m-b(type='submit') 예약하기   
              
              
                input(type='hidden', id='hospnum', name='hospnum', value='99996654')
                input(type='hidden', id='hospname', name='hospname', value='서재민병원')
                input(type='hidden', id='area', name='area', value='0023')
                input(type='hidden', id='program', name='program', value='8')
                input(type='hidden', id='exe', name='exe', value='진료지원')
                input(type='hidden', id='pcinfo', name='pcinfo', value='컴퓨터 이름 : JAEMIN-PC/ 아이피 : 211.238.39.148')
                input(type='hidden', id='curversion', name='curversion', value='20160809')
                input(type='hidden', id='bohum', name='bohum', value='2016-05-23')
                input(type='hidden', id='hosp_contact', name='hosp_contact', value='02-866-4582')
                input(type='hidden', id='pacs', name='pacs', value='Infinity Pacs(신버전)')
                input(type='hidden', id='servername', name='servername', value='JAEMIN-PC\JAEMIN')
                input(type='hidden', id='serverid', name='serverid', value='sa')
                input(type='hidden', id='serverpw', name='serverpw', value='4582')
                input(type='hidden', id='dbname', name='dbname', value='medichart')
                input(type='hidden', id='certpw', name='certpw', value='1234')
                input(type='hidden', id='openperson', name='openperson', value='서재민')
                input(type='hidden', id='sutak', name='sutak', value='NTL')
                input(type='hidden', id='os', name='os', value='Microsoft Windows 10 Home( Version 10.0.10586 SP 0.0)')
                input(type='hidden', id='sqlversion', name='sqlversion', value='MSSQL')
                input(type='hidden', id='astype', name='astype', value='1')
                input(type='hidden', id='masterSuga', name='masterSuga')       
                input(type='hidden', id='masterDrug', name='masterDrug')       
                input(type='hidden', id='masterMaterial', name='masterMaterial') 
                input(type='hidden', id='manager', name='manager' value='89')    
                
block scripts
  script.
    var tour;
    $(document).ready(function(){
      $('#astype').val('0'); // 자꾸 1로 들어가서 로드되면 0으로 일단 셋팅
        
      $("input#exe").bind("change", function() {
        $('#wrapper').text($(this).val());
      });
      
      
      
      $('.summernote').summernote({
        toolbar: [
          // [groupName, [list of button]]
          ['mybutton', ['bug','manual']]          
        ],
        popover : {
          image: [
              ['imagesize', ['imageSize100', 'imageSize50', 'imageSize25']],
              ['float', ['floatLeft', 'floatRight', 'floatNone']],
              ['view', ['popupImage']],
              ['remove', ['removeMedia']]
          ]
        },
        height: 250,   //set editable area's height
        codemirror: { // codemirror options
          theme: 'monokai'
        },
        placeholder: '상단의 AS접수 구분을 선택하여주세요. <br><br> ' +
                    '<p>프로그램장애시 화면을 캡쳐하여 접수하시면 빠른 처리에 도움이 됩니다.</p>',                      
        lang : 'ko-KR',
        buttons : {
          bug : function(context){
            var ui = $.summernote.ui;
            var button = ui.button({
              contents : '프로그램장애',
              tooltip: '프로그램에 장애가 있을때 선택해주세요.',
              tooltipPosition : 'top',
              customClass : ' btn-white btn-astype ',
              buttonID : 'bug',
              click : function(){
                $(this).addClass('active').siblings().removeClass('active');
                $('input#astype').val('1');                    
              }
            });
            return button.render();
          },
          manual : function(context){
            var ui = $.summernote.ui;
            var button = ui.button({
              contents : '사용법문의',
              tooltip: '프로그램 사용에 궁금하신점이 있으시면 선택해주세요.',
              tooltipPosition : 'top',
              customClass : ' btn-white btn-astype ',
              buttonID : 'manual',
              click : function(){
                $(this).addClass('active').siblings().removeClass('active');
                $('input#astype').val('2');                    
              }
            });
            return button.render();
          },
          improve : function(context){
            var ui = $.summernote.ui;
            var button = ui.button({
              contents : '프로그램개선',
              tooltip: '프로그램 개선사항이 있으시면 선택해주세요.',
              tooltipPosition : 'top',
              customClass : ' btn-white btn-astype ',
              buttonID : 'improve',
              click : function(){
                $(this).addClass('active').siblings().removeClass('active');
                $('input#astype').val('3');                    
              }
            });
            return button.render();
          },
          etc : function(context){
            var ui = $.summernote.ui;
            var button = ui.button({
              contents : '기타',
              tooltip: '기타 문의사항이 있으시면 선택해주세요.',
              tooltipPosition : 'top',
              customClass : ' btn-white btn-astype ',
              buttonID : 'etc',
              click : function(){
                $(this).addClass('active').siblings().removeClass('active');
                $('input#astype').val('4');                    
              }
            });
            return button.render();
          },
          popupImage : function(context){
            var ui = $.summernote.ui;
            var button = ui.button({
              contents : '<i class="fa fa-image"></i>',
              tooltip: '크게보기',
              buttonID : 'popupImage',
              click : function(){
                window.open($(context.modules.editor.restoreTarget()).attr('src'), "popup", "fullscreen");
              }
            });
            return button.render();
          }
        }
      });
      
      Pace.on('hide', function(){
          $('.note-placeholder').css('display','block');
          //- tour.start();
      });           
      
    });
    
    $(document).on('submit', 'form' , function(event){
      var browser = parseInt(sessionStorage.getItem('browser'));
      
      var tel = $('#client_contact').val().trim();
      var tel2 = $('#client_contact2').val().trim();
      if(tel2.length > 0){
        tel = tel + ":" + $('#client_contact2').val().trim();
      }
      if(tel.length > 20){
        var contactG = $('#client_contact').parent();
        contactG.addClass('animated tada').popover({
          content: "<span class='font-bold text-danger'>연락처가 너무 깁니다. <br> 연락처+내선번호 19자 이하로 입력해주세요. </span>", 
          placement: "bottom",
          html : true,
        }).popover('show').on('shown.bs.popover', function(){
          setTimeout(function(){contactG.removeClass('animated tada').popover('destroy');}, 5000);
        });
        return event.preventDefault();
      }
      
      
      if(!$('button.btn-astype').hasClass('active')){
        var btnG = $('button.btn-astype').parent();
        btnG.addClass('animated tada').popover({
          content: "<span class='font-bold text-danger'>AS접수 구분을 선택해주세요.</span>", 
          placement: "bottom",
          html : true,
        }).popover('show').on('shown.bs.popover', function(){
          setTimeout(function(){btnG.removeClass('animated tada').popover('destroy');}, 2000);         
        });
        return event.preventDefault();
      }
      
      if(browser > 9){
         event.preventDefault();       
         $('body').addClass('animated slideOutLeft');
         $('body').one('webkitAnimationEnd oanimationend msAnimationEnd animationend',   
         function(e) {
           event.target.submit();
         });
      }
    });  
    
    $(document).on('click', '#capture', function(){
      //toastr['info']('준비중입니다.');
      $('title').html("LOCALCAPTURE");
    });
      
    $(document).on('change', '#uploadimage', function(){
      //console.log($(this));
      var file = $(this).val();
      if(file){$('label[title="사진첨부"] span').text(file.split('\\')[file.split('\\').length-1]);}
      else{$('label[title="사진첨부"] span').text('사진첨부');}
    });    
    
    $(document).on('click', '#client-help',function(event){
      event.preventDefault();
      tour.start(true);
    });
    
    $(document).on('click', '#client-history', function(event){
      event.preventDefault();
      var url = location.href.replace(/#/gim,'');
      url += '/history?type=pop&hospnum=' + ($('input#hospnum').val() || '99996654');
      console.log(url);
      window.open(url);
    });
    //- 
    //- document.addEventListener("contextmenu", function(e){
    //-     e.preventDefault();
    //- }, false);
    
