doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    title= title
    link(rel='stylesheet', href='/plugins/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/plugins/bootstrap-tour/build/css/bootstrap-tour.min.css')
    link(rel='stylesheet', href='/plugins/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/plugins/viewerjs/dist/viewer.css')        
    link(rel='stylesheet', href='/plugins/summernote/dist/summernote.css')    
    link(rel='stylesheet', href='/plugins/design/css/style.css')  
    link(rel='stylesheet', href='/plugins/design/css/animation.css')
    
         
             
  body(class = "" + (body ? body : ""))
    block content
    
    <!--[if lt IE 9]><script src='http://code.jquery.com/jquery-1.10.2.min.js'></script><![endif]-->
    <!--[if gte IE 9]><script src='/javascripts/jquery/jquery.min.js'></script><![endif]-->
    <!--[if !IE]><!-->
    script(src='/javascripts/jquery/jquery.min.js')
      <!--<![endif]-->
    
    //script(src='/javascripts/jquery/jquery.min.js')
    script(src='/plugins/bootstrap/js/bootstrap.min.js')
    script(src='/plugins/pace/pace.min.js')
    script(src='/plugins/design/js/design.js')    
    script(src='/plugins/pnotify-master/dist/pnotify.custom.min.js')
    script(src='/plugins/viewerjs/dist/viewer.min.js')    
    script(src='/plugins/summernote/dist/summernote.js')
    script(src='/plugins/summernote/dist/lang/summernote-ko-KR.min.js')   
    script(src='/plugins/socketio/socket.io.js')   
    script(src='/plugins/bootstrap-tour/build/js/bootstrap-tour.js')
    
    script(src='/javascripts/neo.modules.js')
    script(src='/javascripts/clients/neo.client.js')
    block scripts   
    
