extends ../layout_member
block styles
  include ./includes/styles/as.jade  
block content
  div#wrapper
    div.gray-bg#page-wrapper
      //header include
      include ../includes/templates/header.jade
      
      div#workspace    
      
      img#commant_help.hidden(src="settings/help/commant_help.jpg")       

block scripts
  include ./includes/scripts/as.jade  
  
