.split {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  overflow-y: auto;
  overflow-x: hidden;
}

.split.split-noscroll {
  overflow : hidden !important;
}

.gutter {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter:hover, .gutter:focus {
  background-color: #bfbfbf;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  background-image: url('../plugins/split.js/grips/vertical.png');
}

.gutter.gutter-vertical {
  cursor: row-resize;
  background-image: url('../plugins/split.js/grips/horizontal.png');
}

.gutter.gutter-fixed {
  background-image: none !important;
}

.split.split-horizontal, .gutter.gutter-horizontal {
  height: 100%;
  float: left;
}

.update-badge {
  position: absolute;
  font-size: 20px;
  top: -14px;
}

.update-danger {
  left: 0px;
}

.update-info {
  right: 0px;
}

.takeover-items-danger {
  border :1px solid rgba(237, 85, 101, 0.83);
}
.takeover-items-update {
  border :1px solid #1c84c6;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.graph-container {
  padding: 30px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px #eee;
  margin: 10px 0;
  position: relative;
}

.table-hover tr{
  cursor : pointer;
}

.unstyled-pre{
  padding: 0px;
  margin: 0px;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: inherit;
  border: none;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Breakpoints */
@media (max-width: 480px){
    .breakpoints-xs {
        display: none !important;
    }
}

@media (min-width: 480px) and (max-width: 768px){
    .breakpoints-sm {
        display : none !important;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .breakpoints-md {
        display: none !important;
    }
}

@media (min-width: 992px){
    .breakpoints-lg {
        display: none !important;
    }
}

.timeline-item .hospinfo {
    padding-top: 30px;
    position: relative;
    text-align: right;
    /*width: 110px;*/
}

.highlight { background-color: yellow }

.form-group.required .control-label:after {
    content: "*";
    color: red;
    margin-left: 4px;
}

.flow-text {
    font-weight: 300
}

@media only screen and (min-width: 360px) {
    .flow-text {
        font-size:1.2rem
    }
}

@media only screen and (min-width: 390px) {
    .flow-text {
        font-size:1.224rem
    }
}

@media only screen and (min-width: 420px) {
    .flow-text {
        font-size:1.248rem
    }
}

@media only screen and (min-width: 450px) {
    .flow-text {
        font-size:1.272rem
    }
}

@media only screen and (min-width: 480px) {
    .flow-text {
        font-size:1.296rem
    }
}

@media only screen and (min-width: 510px) {
    .flow-text {
        font-size:1.32rem
    }
}

@media only screen and (min-width: 540px) {
    .flow-text {
        font-size:1.344rem
    }
}

@media only screen and (min-width: 570px) {
    .flow-text {
        font-size:1.368rem
    }
}

@media only screen and (min-width: 600px) {
    .flow-text {
        font-size:1.392rem
    }
}

@media only screen and (min-width: 630px) {
    .flow-text {
        font-size:1.416rem
    }
}

@media only screen and (min-width: 660px) {
    .flow-text {
        font-size:1.44rem
    }
}

@media only screen and (min-width: 690px) {
    .flow-text {
        font-size:1.464rem
    }
}

@media only screen and (min-width: 720px) {
    .flow-text {
        font-size:1.488rem
    }
}

@media only screen and (min-width: 750px) {
    .flow-text {
        font-size:1.512rem
    }
}

@media only screen and (min-width: 780px) {
    .flow-text {
        font-size:1.536rem
    }
}

@media only screen and (min-width: 810px) {
    .flow-text {
        font-size:1.56rem
    }
}

@media only screen and (min-width: 840px) {
    .flow-text {
        font-size:1.584rem
    }
}

@media only screen and (min-width: 870px) {
    .flow-text {
        font-size:1.608rem
    }
}

@media only screen and (min-width: 900px) {
    .flow-text {
        font-size:1.632rem
    }
}

@media only screen and (min-width: 930px) {
    .flow-text {
        font-size:1.656rem
    }
}

@media only screen and (min-width: 960px) {
    .flow-text {
        font-size:1.68rem
    }
}

@media only screen and (max-width: 360px) {
    .flow-text {
        font-size:1.2rem
    }
}

table.footable-details>tbody>tr>th:nth-child(1) {
    width: 60px !important;
}