.split {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  overflow-y: auto;
  overflow-x: hidden;
}

.split.split-noscroll {
  overflow : hidden !important;
}

.gutter {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter:hover, .gutter:focus {
  background-color: #bfbfbf;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  background-image: url('../plugins/split.js/grips/vertical.png');
}

.gutter.gutter-vertical {
  cursor: row-resize;
  background-image: url('../plugins/split.js/grips/horizontal.png');
}

.gutter.gutter-fixed {
  background-image: none !important;
}

.split.split-horizontal, .gutter.gutter-horizontal {
  height: 100%;
  float: left;
}

.update-badge {
  position: absolute;
  font-size: 20px;
  top: -14px;
}

.update-danger {
  left: 0px;
}

.update-info {
  right: 0px;
}

.takeover-items-danger {
  border :1px solid rgba(237, 85, 101, 0.83);
}
.takeover-items-update {
  border :1px solid #1c84c6;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.graph-container {
  padding: 30px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px #eee;
  margin: 10px 0;
  position: relative;
}

.table-hover tr{
  cursor : pointer;
}

.unstyled-pre{
  padding: 0px;
  margin: 0px;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: inherit;
  border: none;
}
