div.row.border-bottom.white-bg.dashboard-header
      div.col-sm-12      
        h2 
          i.fa.fa-pencil
          |  일지작성
        div.hr-line-dashed
        h3#history-title
        div#history-body(data-id="-1")
          div.form-group
            div.input-daterange.form-inline.m-b-xs
              label.control-label 처리일자
              input.input.input-sm.form-control#history-date(type='text', name='history-date', data-name='work')
            div.radio.radio-info.radio-inline
              input#history-kind-visit(type='radio', name='history-type', value='0')
              label(for='history-kind-visit') 방문
            div.radio.radio-info.radio-inline
              input#history-kind-tel(type='radio', name='history-type', value='1')
              label(for='history-kind-tel') 전화
          div.form-group
            textarea.form-control.editor
          button.btn.btn-primary(data-type='save') 저장
          button.btn.btn-default(data-type='close') 닫기