div.row.white-bg.dashboard-header
  div.col-lg-12.wrapper.wrapper-content
    div.form-inline
      div.form-group.m-r-xs
        div.input-daterange.input-group
          input.input-sm.form-control(type='text',data-name='start')
          span.input-group-addon ~
          input.input-sm.form-control(type='text',data-name='end')
          span.input-group-btn
            button.btn.btn-sm.btn-primary#history-search 검색
        div.form-group.m-r-xs
          div.btn-group
            button.btn.btn-sm.btn-outline.btn-primary.history-quickDate(data-name='y') 어제
            button.btn.btn-sm.btn-outline.btn-primary.history-quickDate(data-name='t') 오늘

  div.col-lg-12.no-padding
    div.tabs-container
      ul.nav.nav-tabs.navs-3
        li.active 
          a.history-tabs(href='#tab-1', data-toggle='tab', data-name='방문') 방문              
        li
          a.history-tabs(href='#tab-2', data-toggle='tab', data-name='전화') 전화
        li
          a.history-tabs(href='#tab-3', data-toggle='tab', data-name='웹A/S') 웹A/S
      div.tab-content
        div#tab-1.history-pane.tab-pane.active.fade.in
          div.history-table-wrapper
            //- table.history-table.table#history-table-visit(data-paging="false", data-sorting="true", data-filtering="true", data-editing="true", data-editing-always-show="true")
            
            table.history-table.table.table-hover#history-table-visit
              thead
                tr
                  th.hidden 인덱스
                  th.hidden ID
                  th.breakpoints-xs 기관기호
                  th 기관명칭
                  th.breakpoints-xs.breakpoints-sm 프로그램
                  th 처리일자
                  th 작성자
                  th.breakpoints-xs.breakpoints-sm  작성일자
                  th ACT.
              tbody
        div#tab-2.history-pane.tab-pane.fade
          div.history-table-wrapper
            //- table.history-table.table#history-table-tel(data-paging="false", data-sorting="true", data-filtering="true", data-editing="true", data-editing-always-show="true")

            table.history-table.table.table-hover#history-table-tel
              thead
                tr
                  th.hidden 인덱스
                  th.hidden ID
                  th.breakpoints-xs 기관기호
                  th 기관명칭
                  th.breakpoints-xs.breakpoints-sm 프로그램
                  th 처리일자
                  th 작성자
                  th.breakpoints-xs.breakpoints-sm 작성일자
                  th ACT.
              tbody
        div#tab-3.history-pane.tab-pane.fade
          div.history-table-wrapper
            //- table.history-table.table#history-table-web(data-paging="false", data-sorting="true", data-filtering="true")
            table.history-table.table.small.table-hover#history-table-web
              thead
                tr
                  th.breakpoints-xs.breakpoints-sm 인덱스
                  th.breakpoints-xs 기관코드
                  th 기관명칭
                  th.breakpoints-xs.breakpoints-sm 프로그램
                  th 구분                  
                  th.breakpoints-xs.breakpoints-sm.breakpoints-md 접수자
                  th 접수일자
                  th 상태
                  th 처리자
              tfoot
                tr
                  td(colspan='8')
                    ul.pager.pull-right
                                     
              tbody
              

          