script(src='/plugins/pnotify-master/dist/pnotify.custom.min.js')
//- script(src='/plugins/pnotify-master/dist/pnotify.desktop.js')
script(src='/plugins/sweetalert2/dist/sweetalert2.min.js')    
script(src='/plugins/sweetalert2/dist/es6-promise.min.js')
script(src='/plugins/viewerjs/dist/viewer.min.js')    
script(src='/plugins/summernote/dist/summernote.js')
script(src='/plugins/summernote/dist/lang/summernote-ko-KR.min.js')   
script(src='/plugins/split.js/split.js')   
script(src='/plugins/socketio/socket.io.js')   

script(src='/javascripts/neo.modules.js')
script(src='/javascripts/neo.notify.js')
script(src='/javascripts/as/neo.as.js')
script(src='/javascripts/as/neo.takeover.js')
script(src='/javascripts/as/neo.myas.js')
script(src='/javascripts/neo.socket.js')

script.
  $(document).ready(function(){
    /**
     * Set Layout 
     */
    neoModules.SetLayout(neo.menu, $('#workspace'));
    
    $(document).on('click','a.navbar-as', function(event){
      event.preventDefault();
      $($(this).parent()).addClass('active').siblings().removeClass('active');
      neoModules.SetLayout($(this).data('as'), $('#workspace'));      
    })
    
    $(window).bind("load resize scroll", function () {
        //- if (!$("body").hasClass('body-small')) {
            neoModules.SetElementHeight();
        //- }
    });
    
    Pace.on('hide', function(){
        $('#workspace').removeClass('hidden');
        //- tour.start();
    });  
  });
  
  
