link(rel='stylesheet', href='/plugins/bootstrap-select/dist/css/bootstrap-select.min.css')
link(rel='stylesheet', href='/plugins/datepicker/css/bootstrap-datepicker.css')
link(rel='stylesheet', href='/plugins/footable-bootstrap/css/footable.bootstrap.min.css')
link(rel='stylesheet', href='/plugins/pnotify-master/dist/pnotify.custom.min.css')
link(rel='stylesheet', href='/plugins/sweetalert2/dist/sweetalert2.min.css')
link(rel='stylesheet', href='/plugins/summernote/dist/summernote.css')
link(rel='stylesheet', href='/stylesheets/style.css')    

