div.sidebar-container
  ul.nav.nav-tabs.navs-3
    li
      a(href='#tab-1',data-toggle='tab') AS처리현황
    li
      a(href='#tab-2',data-toggle='tab') 오류보고
    li.active
      a(href='#tab-3',data-toggle='tab') 설정
div.tab-content
  div#tab-1.tab-pane.fade
    include ./rank/layout.jade
  div#tab-2.tab-pane.fade 오류보고
  div#tab-3.tab-pane.fade.in.active  
    include ./settings/layout.jade
      
  
//
  div#left.split.split-horizontal.split-noscroll.white-bg 
    include ./accept_list.jade
  div#right.split.split-horizontal
    div#right-col1.split
      div#pane-1.split.split-horizontal.white-bg 
        include ./as_info.jade
      div#pane-2.split.split-horizontal.white-bg 
        include ./hosp_info.jade
      div#pane-3.split.split-horizontal.white-bg 
        include ./as_live.jade
    div#right-col2.split
      div#pane-4.split.split-horizontal.white-bg 
        include ./as_history.jade
      div#pane-5.split.split-horizontal.white-bg 
        include ./as_comment.jade
