link(rel='stylesheet', href='/plugins/bootstrap-select/dist/css/bootstrap-select.min.css')
link(rel='stylesheet', href='/plugins/pnotify-master/dist/pnotify.custom.min.css')
link(rel='stylesheet', href='/plugins/sweetalert2/dist/sweetalert2.min.css')        
link(rel='stylesheet', href='/plugins/viewerjs/dist/viewer.css')        
link(rel='stylesheet', href='/plugins/summernote/dist/summernote.css')    
link(rel='stylesheet', href='/stylesheets/style.css')    
