div.panel-heading.no-padding
  div.col-xs-12.default-bg.status-top.takeover-tab(data-name= emr.name, data-id= emr.id)              
      h2.status-title= emr.name
        span.badge.badge-danger.pull-right 0 


div.panel-body.scroll-container(data-name= emr.name, data-id= emr.id)              
  div.takeover-list(data-name= emr.name, data-id= emr.id)              
