div.social-feed-box.takeover-items.animated.fadeInUp(data-animated='fadeInUp')
  span(data-name='업데이트')  
  div.social-action.pull-right
    a.pull-right(href='#', data-name='인계자')
    br
    small.text-muted(data-name='인계일자')
    br
    small.text-muted.pull-right(data-name='인덱스')
  div.social-avatar
    i.fa.fa-hospital-o.fa-3x.pull-left
    div.media-body
      a(href='#')         
        h5(data-name='기관명칭')       
        span.badge(data-name='서비스타입')       
  div.social-body
    div.takeover-program(data-name='실행정보')
      include ./takeover_item_program.jade
    div.takeover-content(data-name='문의내용')    
    hr
    div.btn-group      
      button.btn.btn-white.btn-sm(data-name='인계접수')
        i.fa.fa-get-pocket
        |  접수     
    
