table.table.table-bordered.small.m-t-none.m-b-none.m-l-none.m-r-none.table-nowrap      
  tr
    th.tb-header 실행파일
    th.tb-header 실행메뉴
    th.tb-header 세부화면    
  tr
    td.tb-value(data-id='실행파일')
    td.tb-value(data-id='실행메뉴')
    td.tb-value(data-id='세부화면')

  
