extends ../layout_member
block styles
  include ./includes/styles/worklist.jade  
block content
  div#wrapper
    div.gray-bg#page-wrapper
      //header include
      include ../includes/templates/header.jade
      
      div#workspace    
        include ./modals.jade
        
block scripts
  include ./includes/scripts/worklist.jade  
  
