div.modal.inmodal.fade#report-add(tabindex='-1', role='dialog', aria-hidden='true')
  div.modal-dialog
    div.modal-content      
      form.form-horizontal#report-add-form       
        div.modal-header
          button.close(type='button',data-dismiss='modal')
            span(aria-hidden='true') &times;
            span.sr-only Close
          h2 
            i.fa.fa-sticky-note-o
            |  기타업무 등록
        
        div.modal-body                
          input.hidden#id(type='number', name='id', data-name='id')
          div.form-group
            label.col-sm-3.control-label 구분
            div.col-sm-9              
              input.input.form-control#report-add-kind(type='text', name='report-add-kind', data-name='구분', placeholder='수정, 개발, 외근, 외근예정, 계약, 문의')   
          div.form-group
            label.col-sm-3.control-label 프로그램
            div.col-sm-9              
              input.input.form-control#report-add-program(type='text', name="report-add-program", data-name='프로그램', placeholder='전체, 센스, 메디, 이플러스, 이챠트, 한의맥, 홈페이지')   
          div.form-group
            label.col-sm-3.control-label 요청자
            div.col-sm-9              
              input.input.form-control#report-add-requester(type='text', name="report-add-requester", data-name='요청자')   
          div.form-group
            label.col-sm-3.control-label 거래처
            div.col-sm-9              
              input.input.form-control#report-add-client(type='text', name="report-add-client", data-name='거래처')    
          div.form-group.required
            label.col-sm-3.control-label 상태
            div.col-sm-9              
              input.input.form-control#report-add-status(type='text', name="report-add-status", data-name='상태', placeholder='작업중, 완료, 1% ~ 100%, 보류', required) 
          div.form-group.required
            label.col-sm-3.control-label 작업내용
            div.col-sm-9              
              textarea.form-control#report-add-content(rows="10", name="report-add-content", data-name='내용', placeholder='내용은 상세하게 작성해주세요!', required)
            

        div.modal-footer
          button.btn.btn-primary(type='submit', data-name='reportAddSaveContinue') 추가등록
          button.btn.btn-primary(type='submit', data-name='reportAddSave') 등록
          button.btn.btn-white(type='button', data-dismiss='modal') 닫기          
