div#accept_search.panel-heading.no-padding
  div.form-group.m-b-xs.m-t-xs.m-l-xs.m-r-xs    
    div.input-group        
      span.input-group-btn
        button.btn.btn-sm.btn-default#as_search_area 전체            
      input.input.input-sm.form-control#as_search(
        type='text',
        placeholder='기관명,기관기호,접수자,프로그램,접수일로 검색')                
    
div.sidebar-container
  ul.nav.nav-tabs.navs-3
    li.active
      a.aceept-tab(href='#tab-1',data-toggle='tab',data-type='0', data-name='ACCEPT') 접수 
        span.pull-right.badge.badge-danger(style='position: absolute;top: 10px;right: 0px;font-size: 15px;') 0
    li
      a.aceept-tab(href='#tab-2',data-toggle='tab',data-type='1,2,3', data-name='WORKING') 진행중
        span.pull-right.badge.badge-danger(style='position: absolute;top: 10px;right: 0px;font-size: 15px;') 0
    li
      a.aceept-tab(href='#tab-3',data-toggle='tab',data-type='5', data-name='DONE') 취소
        span.pull-right.badge.badge-danger(style='position: absolute;top: 10px;right: 0px;font-size: 15px;') 0
  div.tab-content
    div#tab-1.tab-pane.fade.in.active.scroll-container(data-name='accept-list')      
      ul.list-group.accept-list(data-type='0', data-name='ACCEPT')
    div#tab-2.tab-pane.fade.scroll-container(data-name='accept-list')      
      ul.list-group.accept-list(data-type='1,2,3', data-name='WORKING')
    div#tab-3.tab-pane.fade.scroll-container(data-name='accept-list')      
      ul.list-group.accept-list(data-type='5', data-name='DONE')
  
