div.panel-body
  h4 병원정보 
  table.table.table-bordered.small.m-t-none.m-b-none.m-l-none.m-r-none
    tr
      th.tb-header 기관기호 
      td.tb-value(data-id='기관코드') 
      th.tb-header 기관명칭 
      td.tb-value(data-id='기관명칭') 
    tr
      th.tb-header 프로그램
      td.tb-value(data-id='프로그램') 
      th.tb-header 담당 
      td.tb-value(data-id='지사코드') 
    tr
      th.tb-header 실행파일
      td.tb-value(data-id='실행파일')      
      th.tb-header 현재버전
      td.tb-value(data-id='현재버전') 
    tr
      th.tb-header 수가
      td.tb-value(data-id='수가')      
      th.tb-header 약가
      td.tb-value(data-id='약가') 
    tr
      th.tb-header 치료재료
      td.tb-value(data-id='치료재료')    
      th.tb-header 보험규정
      td.tb-value(data-id='보험규정')   
    tr
      th.tb-header 병원전화
      td.tb-value(data-id='병원전화') 
      th.tb-header 오픈담당자
      td.tb-value(data-id='오픈담당자')               
    tr
      th.tb-header 팍스 
      td.tb-value(data-id='팍스')
      th.tb-header 수탁업체
      td.tb-value(data-id='수탁기관')    
    tr
      th.tb-header ServerName
      td.tb-value(data-id='서버이름') 
      th.tb-header USER
      td.tb-value(data-id='서버아이디')      
    tr
      th.tb-header DataBase
      td.tb-value(data-id='데이터베이스')
      th.tb-header Password
      td.tb-value(data-id='서버비밀번호')    
    tr
      th.tb-header SQL버전
      td.tb-value(data-id='SQL버전', colspan='3')
    tr
      th.tb-header 운영체제
      td.tb-value(data-id='운영체제', colspan='3')
    tr
      th.tb-header PC정보
      td.tb-value(data-id='컴퓨터정보', colspan='3')
