div#left.split.split-horizontal.white-bg 
div#right.split.split-horizontal
  div#right-top.split.split-horizontal
    div#rt-con1.split.white-bg
    div#rt-con2.split.white-bg
  div#right-bottom.split.split-horizontal
    div#rb_con1.split.white-bg
    div#rb_con2.split.white-bg
