div#left.split.split-horizontal.split-noscroll.white-bg 
  include ./accept_list.jade
div#right.split.split-horizontal
  div#right-col1.split
    div#pane-1.split.split-horizontal.white-bg 
      include ./as_info.jade
    div#pane-2.split.split-horizontal.white-bg 
      include ./hosp_info.jade
    div#pane-3.split.split-horizontal.white-bg 
      include ./as_live.jade
  div#right-col2.split
    div#pane-4.split.split-horizontal.white-bg 
      include ./as_history.jade
    div#pane-5.split.split-horizontal.white-bg 
      include ./as_comment.jade
